:root {
    --black: #252429;
    --lgt-grey: #e5e6ea;
    --charcoal: #403c39;
    --light-blue: #403c39;
    --slate-blue: #587388;

    --font: 'Cinzel Decorative', cursive;
    /* 400,700,900 */
}
.scoring {
    padding: 30px;
    background-color: var(--black);
    font-family: var(--font);
    text-align: center;
}

.message {
    background-color: var(--slate-blue);
    font-family: var(--font);
    text-align: center;
}

.messageText {
    font-size: 15px;
    margin: 0px auto;
    font-weight: 700;
}

.gameTitleMain {
    color: var(--lgt-grey);
    font-weight: 900;
    font-size: 35px;
    padding: 10px 5px;
}

.rules {
    color: var(--slate-blue);
    font-weight: 400;
    font-size: 18px;
}

.heartsTitle, .score, .message {
    color: var(--lgt-grey);
    font-weight: 700;
    font-size: 15px;
    padding: 15px 50px;
}

.heartsTitle {
    text-align: center;
    margin: 0px auto;
}

/* Heart styling was created by AlexEBall */
.heart {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 10px 50px ;
  background: #a52a21;
  box-shadow:
    /* white shine */
    0 -8px 0 white,
    -12px 0 0 white,
    -8px -4px 0 white,
    /* top shades */
    0 -4px 0 0 #c52317,
    -4px -8px 0 0 #c52317,
    -8px -8px 0 0 #c52317,
    -12px -8px 0 0 #c52317,
    4px -8px 0 0 #c52317,
    8px -8px 0 0 #c52317,
    12px -8px 0 0 #c52317,
    -16px -4px 0 0 #c52317,
    16px -4px 0 0 #c52317,
    /* fills my heart */
    0 0 0 8px #a52a21,
    -4px 0 0 8px #a52a21,
    4px 0 0 8px #a52a21,
    -12px 0 0 4px #a52a21,
    12px 0 0 4px #a52a21,
    0 4px 0 8px #a52a21,
    0 12px 0 4px #a52a21,
    0 20px 0 0 #a52a21,
    /* white borders */
    -8px -8px 0 4px white,
    8px -8px 0 4px white,
    -12px -4px 0 4px white,
    12px -4px 0 4px white,
    -16px 0 0 4px white,
    16px 0 0 4px white,
    -12px 4px 0 4px white,
    12px 4px 0 4px white,
    4px 4px 0 8px white,
    -4px 4px 0 8px white,
    0 8px 0 8px white,
    0 16px 0 4px white,
    0 24px 0 0 white;
  }

  .hearts {
      padding: 2px 40px;
  }